body {
	background-color: #fff7f4;
	/* text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: white;

	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	margin: 0;

	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: 40px  1fr;
    grid-template-areas:
               "header header  header"
               "content content content"; */
}

@media(max-width: 800px) {
	/* body {
		grid-template-columns: 1fr;
		grid-template-rows: 40px 1fr;
		grid-template-areas:
			"header"
			"content";
	} */
}

/* Typography */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    src: url('/fonts/Fraunces.woff2') format('woff2');
}
@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    src: url('/fonts/Fraunces-Italic.woff2') format('woff2');
}


body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}



/* Colors */
/* #271629, #2d1b31, #73589c (muted text) */
:root { 
	/* --fg: #c792ea;
	--fg-muted1: rgba(199, 146, 234, 0.593);
	--fg-muted: rgba(141, 67, 190, 1);
	--fg-body: white;
	--bg-alt: #130c18;
	--bg: #271629;
	--bg-darkest: black;
	--accent: #ffeb95;
	--accent2: #7fdbca;
	--h1: #ff79c6;
	--h2: #82aaff;
	--h3: #c5e478;

	--separator-color: #364ca7;
	--ui-border-color: var(--fg); */
}
