body {
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: white;

	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	margin: 0;

	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: 40px  1fr;
    grid-template-areas:
               "header header  header"
               "content content content";
}

@media(max-width: 800px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 40px 1fr;
		grid-template-areas:
			"header"
			"content";
	}
}



header {
	grid-area: header;
}

main {
	background-color: var(--bg);
	grid-area: content;
	display: flex;
	max-height: 100%;
	overflow: auto;
	position: relative;
}

/* Typography */
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
:root {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
	font-family: 'Slabo 13px', serif;
}


/* Colors */
:root { 
	--fg: #c792ea;
	--fg-muted1: rgba(199, 146, 234, 0.593);
	--fg-muted: rgba(141, 67, 190, 1);
	--fg-body: white;
	--bg-alt: #130c18;
	--bg: #1b1222;
	--bg-darkest: black;
	--accent: #ffeb95;
	--accent2: #7fdbca;
	--h1: #ff79c6;
	--h2: #82aaff;
	--h3: #c5e478;

	--separator-color: #364ca7;
	--ui-border-color: var(--fg);
}

hr {
	border: none;
	border-top: 2px solid var(--separator-color);
	margin: 1rem 0;
}

h1 {
	color: var(--h1);
}
h2 {
	color: var(--h2);
}
h3 {
	color: var(--h3);
}

/* Spec Layout */
.contentwrapper {
	max-width: 596px;
	margin: 0 auto;
	padding: 0 2rem;
}

/* Placeholder basics */
a {
	color: var(--accent);
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	padding: 2px 0px 2px 20px;
	background-color: var(--bg-alt);
	margin: 0px;
	font-style: italic;
}
