---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<section class="sidebar"> 

    <section class="callme">
        <p>Send me lots of words <a href="mailto:me@alexandrepapin.name">by mail</a> or on the <a href="https://twitter.com/charmide">Twitter</a>.</p>
    </section>

    <!-- <section class="callme">
        <h3>Recent musings</h3>
        <ul>
            <li>
                product management
            </li>
            <li>
                how hard should it be
            </li>
            <li>
                writing things down
            </li>
        </ul>
    </section> -->

    <section class="github">
        <a href="https://github.com/Apapin/apapin.com"><img src="/github.png" alt="view on github"/></a>
    </section>
</section>
<style>
.sidebar {
    border-right: 1px solid var(--ui-border-color);
    background-color: var(--bg-darkest);
    font-family: "IBM Plex Mono", monospace;

    display: flex;
    flex-direction: column;
}

.callme {
    padding: 1rem;
    border-bottom: 1px solid var(--ui-border-color);
    border-top: 1px solid var(--ui-border-color);
    flex: 1;
}

.github {
    height: 40px;
    padding: 5px;
    display: flex;
}

.github a {
    opacity: 0.3;
    margin: auto;
}

.github img {
    width: 25px;
    height: 25px;
}

</style>
