---
import { Icon } from 'astro-icon'

---

<section class="sidebar"> 

    <section class="content">
        <p class="callme">
            <a href="mailto:me@alexandrepapin.name"><Icon pack="mdi" name="email" />
            </a>
            <a href="https://twitter.com/charmide"><Icon pack="mdi" name="twitter" />
            </a>
        </p>
    </section>

    <section class="github">
        <a href="https://github.com/Apapin/apapin.com"><img src="/github.png" alt="view on github"/></a>
    </section>
</section>
<style>
.sidebar {
    border-right: 1px solid var(--ui-border-color);
    background-color: var(--bg-darkest);
    font-family: "IBM Plex Mono", monospace;

    display: flex;
    flex-direction: column;
}

.content {
    padding: 1rem;
    border-bottom: 1px solid var(--ui-border-color);
    border-top: 1px solid var(--ui-border-color);
    display: flex;
    flex: 1;
}

.callme {
    display: flex;
    margin: 0 auto;
    gap: 12px;
    height: 50px;
    opacity: 0.5;
}

.callme a {
    height: 40px;
    margin: auto;
    color: inherit;
}
.callme svg {
    width:32px;
    height:32px;
}

.github {
    height: 40px;
    padding: 5px;
    display: flex;
}

.github a {
    opacity: 0.3;
    margin: auto;
}

.github img {
    width: 25px;
    height: 25px;
}

</style>
